.App {
  text-align: center;
  /* background-color: #f7fffc;
   */
  background-color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lifontSize {
  font: 12px sans-serif;
  font-weight: 550;
  margin-bottom: 5px;
}

.custom-navbar-shadow {
  box-shadow: 0 4px 6px 1px rgba(12, 11, 11, 0.1),
    0 2px 4px 1px rgba(0, 0, 0, 0.06);
}

.custom-player {
  max-height: 280px !important;
  max-width: 500px !important;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
}
.parent-container {
  display: flex;
  justify-content: center; /* Horizontally centers the .custom-player */
  align-items: center; /* Vertically centers the .custom-player */
  /* height: 100vh;          Ensure parent container has height */
}

.custom-card {
  transition: box-shadow 0.3s ease;
}

.custom-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  /* Small screen size */
  .my-card {
    width: 20rem;
    margin: 10px 0px;
  }
}

.my-card {
  /* width: 18rem; */
  width: 95%;
}
.my-card-img {
  max-height: 280px !important;
  max-width: 500px !important;
  background-size: contain;
}
.footer-main {
  background-color: #282c34;
  /* height: 400px; */
  width: 100%;
}

.footer-card {
  background-color: #282c34;
  /* height: 400px;
  width: 400px; */
  padding: 20px;

  margin: 0px;
}
.footer-card-text {
  color: #dad7d7 !important;
  text-align: left;
  margin: 10px;
  text-decoration: none;
}
.footer-card-text:hover {
  color: #ffffff !important;
  text-align: left;
  margin: 10px;
  text-decoration: none;
}

.footer-card-header {
  color: #ffffff !important;
  text-align: left;
  font-size: 24px;
  margin: 10px;
}
.footer-card-text-link {
  color: #dad7d7 !important;
  text-align: left !important;
  text-decoration: none;
  margin: 0;
}
.footer-card-text-link:hover {
  color: #ffffff !important;
  text-align: left !important;
  text-decoration: none;
  margin: 0;
}

/* .map-main {
 

  width: 90%; 
  height: 100%; 
  margin: 0px;
  padding: 20px;

} */
.map-main {
  width: 100%; /* Make the container take the full width */
  height: 300px; /* Ensure it takes the full height */
  margin: 0;
  padding: 0; /* Remove padding if you want the map to fully fill the container */
  box-sizing: border-box; /* Ensures padding and borders are included in the element's total width and height */
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
}

.social-icons i {
  font-size: 24px;
}

.facebook-icon {
  color: rgb(127, 175, 252);
}

.twitter-icon {
  color: skyblue;
}

.instagram-icon {
  color: purple;
}

.linkedin-icon {
  color: rgb(219, 219, 220);
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-content {
  animation: slideUp 1s ease-out;
}

.custom-form {
  /* max-height: 280px !important; */
  max-width: 500px !important;
  border-radius: 8px;
  overflow: hidden;
  /* border: 1px solid rgb(164, 163, 163); */
  padding: 2%;
  box-shadow: 0 8px 10px 5px rgba(101, 99, 99, 0.1),
    0 2px 4px 1px rgba(0, 0, 0, 0.06);
  padding-bottom: 20px;
  /* display: flex; */
}
.custom-form-main {
  /* max-height: 280px !important; */
  margin-top: 5%;
  display: flex;
  justify-content: center; /* Horizontally centers the .custom-player */
  align-items: center; /* Vertically centers the .custom-player */
  margin: 30px;
}
/* @media (max-width: 576px) {
  
  .custom-form-main{
  margin-top: 5%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 30px;
  }
} */

.custom-form-header {
  /* max-height: 280px !important; */
  margin-top: 0px;
  font-size: 24px;
  background-color: #3fcef5;
  padding: 8px;
}
.contact-page {
  background-image: url("/public/images/contact.jpg");
  height: 480px !important;
  width: 100%;
  background-size: cover;
  padding-bottom: 10%;
}
.contact-page-image-text {
 font-size: 54px;
 color: #d9d7d7;
 background-color: rgba(0, 0, 0, 0.06);
}
/* style={{fontSize:"48px",color:"white"}} */
@media (max-width: 576px) {
  .contact-page {
    background-image: url("/public/images/contact.jpg");
    height: 250px !important;
    width: 100%;
    background-size: cover;
    padding-bottom: 18%;
  }
  .contact-page-body{
    text-align: center !important;
    padding-left: 20px;
    margin-left: 20px
  }
  .contact-page-header{
    font-size: 24px;
    margin-top: 10px;
    text-align: center !important;
    padding-left: 20px;
    margin-left: 20px;
  }
  .social-icons-contact-page{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    gap: 20px;
    padding-left: 35px;
    margin: 0;
    margin-bottom: 20px !important;
  }
  
}

.social-icons-contact-page{
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 20px;
  padding-left: 35px;
  margin: 0;
  margin-bottom: 20px !important;
}

.contact-page-header{
  font-size: 24px;
  margin-top: 10px;
  text-align: left;
  padding-left: 20px;
  margin-left: 20px;
}

.contact-page-body{
  text-align: left;
  padding-left: 20px;
  margin-left: 20px
}